html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

#main {
  background: #E9E8E8;
  padding: 15px;
  border-radius: 5px;
  margin: 30px 8px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

h1 {
  font-size: 9rem;
  margin-bottom: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

p {
	font-size: 2.3rem;
	margin: 0;
}

@media (max-width: 800px) {
  p {
  	font-size: 1.2rem;
    margin-bottom: 6px;
  }
}

#image-div {
  background: white;
  padding: 10px;
  margin: 10px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#image-caption {
 	margin: 15px 0 5px 0;
 	text-transform: uppercase;
}

@media (max-width: 460px) {
  #image-caption {
    font-size: 1.4rem;
  }
}

.quote {
	padding: 20px 10px 0 10px;

}

blockquote {
	font-size: 1.8rem;
 	font-style: italic;
 	max-width: 720px; 	
  	margin: 0 auto 30px auto;
  	text-align: center;
  	border-top: 3px solid #333;
  	border-bottom: 2px solid #333;
  	letter-spacing: .3rem;
  	word-spacing: .1rem;
  	line-height: 4rem;
}

strong {
	text-transform: uppercase;
}

#tribute-info {
	align-content: center;
	margin-bottom: 30px;
}

#headline {
  text-transform: uppercase;
}

ul {
  max-width: 680px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  	margin: 16px 0;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
}

a {
  	color: #a7761c;
}

a:visited {
  	color: #471ca7;
}

#footer {

}
